<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Today's Air Quality in Austin</title>
</head>
<body>
    <h2>This Page Reports the Day's Air Quality Reading from Ambient Monitor's in Austin, Texas</h2>
    <p>
        Values of PM2.5 are in micrograms per cubic meter.
        Values of O3 (OZone) are in parts per billion.
    </p>
    <p>
        All records are taken at a Continuous Ambient Monitoring Station (CAMS).
        The TCEQ operates CAMS sites at various metropolitan areas around the state.
    </p>
    <br>
    <p>
        So far, I have had trouble figuring out how to imbed a table within an existing html sheet. The only solution I have come up with so far is to create a new html file solely used for the table.
    </p>
    <p>
        <a href="/todayTable">Click Here to see Table of Values</a>
    </p>
    <p>
        <a href="/">Return Home</a>
    </p>
</body>
</html>