<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome!</title>
</head>
<body>
    <h1>Welcome to the start of the Air Quality Design Value Summary Tool</h1>
    <p>
        This is the basic introduction to summarizing air quality monitoring data stored at 
        at <a href="https://www.epa.gov/air-trends/air-quality-design-values">EPA Air Quality Design Values</a>.
    </p>
    <br>
    <p>
        Click Here for <a href="/aqtoday">Today's Air Quality Reading in Austin, Texas</a>
    </p>
    <p>
        The following image provides a basic overview of what I want this tool to eventually summarize, which is a basic report of valid and invalid pollutant design value (concentration) data at monitors in a user's target area.
        <br>
        <img src="/static/MonitorVals.JPG">
    </p>

</body>
</html>
